<%= form_for(@account) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
      <%= f.label :host %>
      <%= f.text_field :host %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :category %>
      <%= f.select(:category, options_for_select(Category.all.map{|category| [category.name]}, @account.category)) %>
      <%= form_for(@category) do |ff| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <%= ff.submit "Add Category", class: "btn btn-large btn-primary" %>
      <% end %>
  </div>
  <%= f.submit "Update", class: "btn btn-large btn-primary" %>
<% end %>